@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    /* background: #020c19; */
}

::-webkit-scrollbar-thumb {
    /* background: #ec7831; */
}


/* body::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(/images/test.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100%;
    height: 100%;
    z-index: -1;
} */
@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

.job_desciption ul {
    list-style: disc;
    margin: auto;
    padding: revert;
}

.job_desciption h1,
.job_desciption h2,
.job_desciption h3,
.job_desciption h4,
.job_desciption h5,
.job_desciption h6 {
    margin: auto !important;
    font-size: revert;
    font-weight: revert;
}

.job_desciption p {
    margin: revert !important;
}